<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653834972491-n79v43ntk37kmphml609t1d8351c4kq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653834972491-n79v43ntk37kmphml609t1d8351c4kq9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653834972491-mmh39kqfq2dfu293nu9i9dbd09icp0ur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxZchYaTnH50p_btXlp0w9iy9LM3c9afE</string>
	<key>GCM_SENDER_ID</key>
	<string>653834972491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiApp</string>
	<key>PROJECT_ID</key>
	<string>taxi-45664</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-45664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653834972491:ios:130c306ca1afb4211f4cce</string>
</dict>
</plist>